.footer{
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient( to right, rgb(100, 96, 96) , white);
    color:black;
    border-top: 5px solid rgb(141, 48, 48);
    justify-content: space-around;
   
}

.followUs{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        color:$menuhover;
    font-size:large;
    transform:perspective(10deg);
    }
}


.redes{
    display: flex;
    justify-content:center;
    i{
        padding-left: 50px;
        padding-right: 50px;
        cursor: pointer;
        font-size: 30px;
        transition: all 0.5s;
        &:hover{
            color:$menuhover;
            font-size:35px;
            transform:perspective(10deg);
        }
    }
    
}
@media only screen and (max-width: 600px) {
    .followUs{
        display: none;
    }
}

