*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
  }
  body{
    font-family: Arial;
    text-align: center;
    border-bottom: 7px solid rgb(141,48,48);
  }


.navBar{
    background-color:white; 

}
.navbar-brand:hover{
    color:rgb(141, 48, 48);
    font-size:20px;
    transform:perspective(10deg);
  
  }

.menu{
    
    li{
        list-style-type: none;
        padding: 10px;
        margin-left: 25px;
        margin-right: 25px;
        text-align: center;
          
        a{
            text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  color: rgb(1, 1, 1);
  cursor: pointer;
  transition: all 0.5s;
            &:hover{
                color:rgb(141, 48, 48);
                font-size:20px;
                transform:perspective(10deg);
            }
        }        
    }
}




 



