$bordes:(
    bordeTop: 3px solid rgb(1,1,1),
    bordeBottom: 4px solid rgb(141, 48, 48),
);

$links:(
    colorLink: rgb(1, 1, 1),
   colorLinkHover: rgb(141, 48, 48),
   fontSizeHover:22px,
   fontSizeHoverBottom:35px,


);

$fonts:(
    fontFamily: Arial


);

$buttons:(
    bgTop: #23c483,
    boxShadowTop: 0px 15px 20px rgba(46, 229, 157, 0.4),
    colorTop: #fff,

);