$navBarbgcolor:white;
$menuFont-weight:900;
$menufont-size:20px;
$menucolor: rgb(rgb(1, 1, 1));
$menuhover:rgb(141, 48, 48);
$infobg-color:rgba(242, 252, 248, 0.6);
$infocolor:rgb(1, 1, 1);
$info-border:2px solid rgb(1, 1, 1);
$info-font-style:italic;
